/app/src/test
/app/src/androidTest
*.class
/.idea
*.iml
*.gradle
gradle.properties
gradlew*
/gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures
.externalNativeBuild
